* {
    margin: 0;
    padding: 0;
}
.subdiv1Nav {
    display: flex;
    justify-content: space-around;
    gap: 350px;
    background-color: white;
    padding: 2rem;
}
.subdiv1Nav > ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}
.subdiv2 {
    background-image: url("images//image1.jpeg"); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the whole div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    display: flex; /* Optional: For horizontal alignment of inner divs */
    column-gap: 10px;
    align-items: center; /* Optional: Center inner divs vertically */
    justify-content: center; /* Optional: Center inner divs horizontally */
    flex-direction: column;
}
.subdiv21 {
    width: 1200px;
}
.subdiv21 > p {
    color: rgb(232, 221, 221);
    font-size: 4rem;
    font-weight: 4rem;
}
.subdiv22 {
    width: 1200px;
    border-radius: 25px;
}
.subdiv22 ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: #fbf7f7;
    padding: 10px;
    justify-content: center;
    margin-top: 2.2rem;
    border: solid white;
    border-radius: 20px;
}
.subdiv22 ul .list {
    border: 1px solid rgb(129, 120, 120);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    background-color: #ffffff;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.subdiv22 ul .a {
    width: 330px;
}
.subdiv22 ul > .blueB {
    background-color: rgb(20, 20, 53);
    border-radius: 45%;
    width: 40px;
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
}
